{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for joke in jokes %}
    <div class="row">
        <div class="row col-md-6">
            <div class="row">
                <h3><a href="/jokepost/{{ joke.id }}">{{ joke.title }}</a></h3>
                <img src="{{ asset('uploads/jokepost/' ~ joke.img) }}"  style="height: 100%; min-width: 100%; max-height: 100%;">
            </div>
            <div class="row">
                {{ joke.vote }} likes
            </div>
        </div>

        <div class="row col-md-6" style="margin-top:50px;">
            {% set opacity = 1 %}
                {% for comment in joke.comments |slice(0,6) %}
                <div class="row">
                    <div class="alert alert-success" role="alert" style="opacity:{{ opacity }};">
                      <strong>{{ comment.user.username }} say:</strong> {{ comment.content }}
                    </div>
                </div>
                {% set opacity = opacity - 0.20 %}
                {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="row">
        No post submitted yet!
    </div>
    {% endfor %}
</div>
{% endblock %}
