{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row col-md-12">
        <h1><span>Welcome to</span> ListPost</h1>
    </div>
    {% for joke in jokes %}
    <div class="row">
        <div class="row col-md-6">
            <div class="row">
                <h3><a href="/jokepost/{{ joke.id }}">{{ joke.title }}</a></h3>
                <img src="{{ asset('uploads/jokepost/' ~ joke.img) }}"  style="height: 100%; width: auto; max-width: 100%;">
            </div>
            <div class="row">
                {{ joke.upvotes}} likes
            </div>
        </div>

        <div class="row col-md-6">
                {% for comment in joke.comments %}
                <div class="row	"  style="overflow:hidden;">
                    <div class="alert alert-success" role="alert">
                      <strong>{{ comment.user.username }} say:</strong> {{ comment.content }}
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="row">

        <div class="row col-md-6">
        No post submitted yet!
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
